a.Membre{
    color:#9B9B9B;
}
a.Ban{
    color:#9B9B9B;
    text-decoration: line-through;
}
a.VIP{
	color:black;
	font-weight: bold;
}
a.Animateur, a.Animatrice{
    color: #5889EB;
    font-weight: bold;
}

a.Rédacteur, a.Rédactrice{
    color:#1BFFC7;
    font-weight: bold;
}
a.Designer, a.Designeuse{
    color:#1B2AFF;
    font-weight: bold;
}
a.Modérateur, a.Modératrice{
    color:#1BFF1F;
    font-weight: bold;
}
a.Co-Administrateur, a.Co-Administratrice{
    color:#FF911B;
    font-weight: bold;
}
a.Administrateur, a.Administratrice{
    color:red;
    font-weight: bold;
}
div#Membre, div.Membre{
    border-color:#9B9B9B;
    border-radius: 10px
}
div#VIP, div.VIP{
    border-color:black;
    border-radius: 10px
}
div#Animateur, div#Animatrice, div.Animateur, div.Animatrice{
    border-color:#5889EB;
    border-radius: 10px
}
div#Rédacteur, div#Rédactrice, div.Rédacteur, div.Rédactrice{
    border-color:#1BFFC7;
    border-radius: 10px
}
div#Designer, div#Designeuse, div.Designer, div.Designeuse{
    border-color:#1B2AFF;
    border-radius: 10px
}
div#Modérateur, div#Modératrice, div.Modérateur, div.Modératrice{
    border-color:#1BFF1F;
    border-radius: 10px
}
div#Co-Administrateur, div#Co-Administratrice, div.Co-Administrateur, div.Co-Administratrice{
    border-color:#FF911B;
    border-radius: 10px
}
div#Administrateur, div#Administratrice, div.Administrateur, div.Administratrice{
    border-color:#FF7373;
    border-radius: 10px
}

table
{
    border-collapse: collapse;
    margin-top : 10px;
    margin-bottom:  10px;
    margin-left: auto;
    margin-right: auto;
    width : 90%;
    position : center;
}
td, th
{
    border: 1px solid black;

}
#forumMessage{
    vertical-align:middle;
    text-align : left;
    width: 80%;
}
#forumProfil{
    vertical-align: top; 
}

.bois {
	background-image:url('../img/nav-rep.png');
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background-image:url('../img/nav-rep.png');
}

.top-bar-section li:not(.has-form) a:hover:not(.button) {
	background-color: #985D23;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	border-right: 1px solid #985D23;
}

.top-bar-section ul li:hover:not(.has-form) > a {
	background-color: #985D23;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    background-image: url('../img/nav-rep.png');
}

.top-bar-section .dropdown li:hover:not(.has-form):not(.active) > a:not(.button) {
    background-color: #985D23;
}

body {
	background-image: url('../img/background2.png');
	background-color: #FCFEFD;
	background-repeat: repeat-x;
    background-size: 100%;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.panel {
	background: #f5f5f5 none repeat scroll 0 0;
    border-color: #9b642e;
    border-style: solid;
    border-width: 3px;
	border-radius: 7px;
	opacity: 0.91;
}

.pageNormale {
	background: #f5f5f5 none repeat scroll 0 0;
    border-color: #9b642e;
    border-style: solid;
    border-width: 3px;
	border-radius: 7px;
    color: #333333;
    margin-bottom: 1.25rem;
	margin-top: 3rem;
    padding: 1.25rem;
    opacity: 0.91;
}

#tchat_container {
	margin-top: 3rem;
}

#form_tchat {
	margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#tchat_body {
	margin-top: 5rem;
}

.tchat_message {
	margin-bottom: 1rem;
}

.messageTchat {
	min-height: 8rem;
	overflow: hidden;
}

textarea {
	border-color: #9b642e;
    border-style: solid;
    border-width: 3px;
	border-radius: 7px;
}

#form_tchat textarea {
	width: 70%;
	height: 120px;
	margin-left: auto;
}

#send_button {
	background-image: url('../img/nav-rep.png');
	color: #ffffff;
	border-color: #9b642e;
    border-style: solid;
    border-width: 3px;
	border-radius: 7px;
}

#form_tchat #send_button {
	background-image: url('../img/nav-rep.png');
	color: #ffffff;
	border-color: #9b642e;
    border-style: solid;
    border-width: 3px;
	border-radius: 7px;
	height: 2.5rem;
	width: 5rem;
	margin-left: 59%;
}

#form_tchat #send_button:hover {
	background-image:;
	background-color: #985D23;
	color: #ffffff;
	border-color: #9b642e;
    border-style: solid;
    border-width: 3px;
	border-radius: 7px;
}

.tchat_message .panel {
	padding-top: 0rem; 
	background-color: #ffffff;
}

.tchat_message .message_tchat_haut {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
	font-size: 0.9rem;
	font-style: italic;
}

.messageTchat #Membre, .messageTchat #VIP, .messageTchat #Animateur, .messageTchat #Animatrice, .messageTchat #Rédacteur, .messageTchat #Rédactrice,
.messageTchat #Designer, .messageTchat #Designeuse, .messageTchat #Modérateur,
.messageTchat #Modératrice, .messageTchat #Co-Administrateur, .messageTchat #Co-Administratrice,
.messageTchat #Administrateur, .messageTchat #Administratrice{
	border-radius: 0px;
}

.tchat_message .message_tchat_milieu {
	margin-top: 0.6rem;
}

.avatarTchat {
	height: 74px;
	width: 60px;
}

.avatarTchatMembre{
    border-color:#9B9B9B;
    border-radius: 10px;
	border-style: solid;
    border-width: 3px;
}
.avatarTchatVIP{
    border-color:black;
    border-radius: 10px;
	border-style: solid;
    border-width: 3px;
}
.avatarTchatAnimateur, .avatarTchatAnimatrice{
    border-color:#5889EB;
    border-radius: 10px;
	border-style: solid;
    border-width: 3px;
}
.avatarTchatRédacteur, .avatarTchatRédactrice{
    border-color:#1BFFC7;
    border-radius: 10px;
	border-style: solid;
    border-width: 3px;
}
.avatarTchatDesigner, .avatarTchatDesigneuse{
    border-color:#1B2AFF;
    border-radius: 10px;
	border-style: solid;
    border-width: 3px;
}
.avatarTchatModérateur, .avatarTchatModératrice{
    border-color:#1BFF1F;
    border-radius: 10px;
	border-style: solid;
    border-width: 3px;
}
.avatarTchatCo-Administrateur, .avatarTchatCo-Administratrice{
    border-color:#FF911B;
    border-radius: 10px;
	border-style: solid;
    border-width: 3px;
}
.avatarTchatAdministrateur, .avatarTchatAdministratrice{
    border-color:#FF7373;
    border-radius: 10px;
	border-style: solid;
    border-width: 3px;
}

.currentAvatar {
	position: absolute;
}

div#currentAvatarPanel {
	height: 12.2rem;
}

div#etapesPanel {
	height: 12.2rem;
}

div#optionsPanel {
	height: 12.2rem;
	overflow-y: scroll;
}

div.paletteCouleurs {
	height: 2rem;
}

div#couleurOrange {
	background-color: orange;
}

div#couleurNoir {
	background-color: black;
}

div#couleurBlanc {
	background-color: white;
}

div#couleurRose {
	background-color: pink;
}

div#couleurRouge {
	background-color: red;
}

div#couleurMarron {
	background-color: brown;
}

div#couleurBleu {
	background-color: blue;
}

div#couleurVert {
	background-color: green;
}

div#couleurJaune {
	background-color: yellow;
}

/* Messaging */
#messaging div#send_button {
	width: 5.5rem;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#messaging_send_button #send_button, .messagingOptions #send_button {
	margin-top: 1rem;
	height: 2.5rem;
	width: 5.5rem;
}

#messaging_send_button {
	text-align: center;
}

.messagingButton {
	margin-left: 1rem;
	width: 5rem;
	height: 2rem;
	float:right;
}

div#messagingChoice #send_button {
	width: 5rem;
	float: left;
	margin-right: 1rem;
	margin-left: 1rem;
	text-align: center;
}

div#messagingChoice {
	margin: 0 auto;
	width: 20%;
	margin-bottom: 4rem;
}

div#messagingChoice #send_button {
	width: 10rem;
}

.suppButton {
	margin-top: 2rem;
	height: 2rem;
}

span#myConv {
	font-weight: bold;
	text-decoration: underline;
}

.panel-mp-msg {
	width: 45%;
	background-color: white;
	border-radius: 15px;
}

.meAuthor {
	float: right;
	border-color: #6699CC;
	margin-right: 1rem;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

.otherAuthor {
	margin-left: 1rem;
	float: left;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
}

div#messagingIndex .conversationPanel {
	margin-bottom: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

div#messagingIndex .conversationPanelHeader {
	
}

div#messagingIndex .conversationPanelContent {
	border-top-style: solid;
	border-top-width: 2px;
	border-radius: 0 !important;
	margin-top: 1rem;
	padding-top: 1.5rem;
	display: none;
}

.mp-bas {
	font-style: italic;
	font-size: 10px;
	float: right;
}

div.pageNormale div.backToMessagingIndex {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

div.pageNormale div.backToMessagingIndex a{
	float:left;
	margin-left: 0;
}

input[data-toggle] {
  display: none; 
}
input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: grey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); 
}
.button-group.toggle li:not(first-child) {
  margin: 0 -0.9rem; 
}