

table
{
    border-collapse: collapse;
    margin-top : 10px;
    margin-bottom:  10px;
    width : 100%;    
}
td, th
{
    border: 1px solid black;

}
#forumMessage{
    vertical-align:middle;
    text-align : left;
    width: 80%;
}
#forumProfil{
    vertical-align: top; 
}