* {
  border-radius: 0 !important;
  font-family: 'AvenirNextLTW01-Regular';
}

html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.navbar-oprpg {
    height: 10%;
}

div.row-oprpg {
    height: 90%;
}

div.container-oprpg {
    background-color: #333333;
    box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.69);
    height: 60%;
    min-height: 320px;
}

input {
    border: none;
}

.center_form_connexion {
    margin: 0 auto;
    width: 65%;
    height: 70%;
}

.form-connexion-bas {
    margin-top: 15%;
}

.center_redirection_inscription {
    margin: 0 auto;
    margin-top: 5%;
    width: 45%;
    height: 20%;
}

.center_form_connexion .form_pseudo input {
    width: 100%;
    height: 30px;
    color: #0071BC;
}

.center_form_connexion .form_password input {
    width: 100%;
    height: 30px;
    color: #C1272D;
}

.center_form_connexion .form_submit input {
    float: right;
    background-color: #0071BC;
    color: white;
}

.center_form_connexion .form_submit .btn-connexion {
    @include button-variant(red, white, blue);
}

.center_form_connexion .form_submit a {
    vertical-align: central;
}

a.connexion-reset-password {
    padding-top: 10px;
    color: white;
}

span.texte_redirection_inscription {
    color: white;
}

.form-connexion-header {
    height: 30%;
}

.form-connexion {
    height: 70%;
}