[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Louise Attaque
Type=Link
URL=https://www.youtube.com/watch?v=aGJC0KAPeYA&list=PLD08EF9F9F1B6FFBD
Icon=text-html
